<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <base-packages>
        <base-package>team</base-package>
    </base-packages>
    <beans>
        <bean id="ServiceBImpl" class="team.service.impl.ServiceBImpl"/>
        <bean id="serviceB" class="team.service.ServiceB" ref="ServiceBImpl"/>
        <bean id="zwei" class="team.service.impl.MusicServiceImpl"/>
        <bean id="MusicService" class="team.service.MusicService" ref="zwei"/>
    </beans>
</configuration>
